@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?evjeks');
  src:  url('../fonts/icomoon.eot?evjeks#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?evjeks') format('truetype'),
    url('../fonts/icomoon.woff?evjeks') format('woff'),
    url('../fonts/icomoon.svg?evjeks#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time-passing:before {
  content: "\e900";
}
.icon-transfer:before {
  content: "\e901";
}
.icon-transfer1:before {
  content: "\e902";
}
.icon-valentines:before {
  content: "\e903";
}
.icon-vk:before {
  content: "\e904";
}
.icon-bow:before {
  content: "\e905";
}
.icon-coffee:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-hairstyle:before {
  content: "\e908";
}
.icon-hanger:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-jacket:before {
  content: "\e90b";
}
.icon-left-arrow:before {
  content: "\e90c";
}
.icon-list:before {
  content: "\e90d";
}
.icon-money:before {
  content: "\e90e";
}
.icon-moustache:before {
  content: "\e90f";
}
.icon-phone-call:before {
  content: "\e910";
}
.icon-play-button:before {
  content: "\e911";
}
.icon-right-arrow:before {
  content: "\e912";
}
.icon-shirt:before {
  content: "\e913";
}
.icon-shopping-bag:before {
  content: "\e914";
}
.icon-shopping-bag1:before {
  content: "\e915";
}
.icon-smartphone:before {
  content: "\e916";
}
.icon-thread:before {
  content: "\e917";
}
