body {
  font-family: 'Circe';
  line-height: 1.2;
  min-width: 320px;
}

span.mfp-counter, .mfp-bottom-bar {
    display: none;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.center {
  text-align: center;
}
.h1 {
  font-weight: bold;
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 18px #2e1e04;
  margin-top: 82px;
}
.h2 {
  color: #252533;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin: 60px 0;
}
.h2 span {
  color: #fcbc31;
}
.h3 {
  font-size: 32px;
  color: #fff;
  margin-top: 35px;
  font-weight: 400;
  text-shadow: 0 0 6px #2e1e04;
}
.btn {
  display: inline-block;
  font-weight: bold;
}
.btn--yellow {
  background-color: #fcbc31;
  font-size: 17px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-border-radius: 70px;
          border-radius: 70px;
  -webkit-box-shadow: 0 0 35px #ffad00;
          box-shadow: 0 0 35px #ffad00;
}
.btn--yellow:hover {
  -webkit-box-shadow: 0 0 30px 7px #ffad00;
          box-shadow: 0 0 30px 7px #ffad00;
}
.btn--service {
  padding: 22px 50px 18px;
  margin-top: 40px;
  margin-left: -10px;
}
.btn--video {
  padding: 20px 24px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-border-radius: 70px;
          border-radius: 70px;
}
.btn--video:hover {
  background-color: #fff;
  color: #000;
}
.promo {
  background: url("../img/promo.jpg") no-repeat center top;
  background-color: #000;
  padding-bottom: 190px;
  -webkit-background-size: cover;
          background-size: cover;
}
.promo .header {
  padding-top: 30px;
}
.promo .header .logo__title {
  font-size: 34px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.32);
  font-weight: bold;
}
.promo .header .logo__title:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 40px;
  background-color: #fcbc31;
  margin: 0 20px 0 25px;
  vertical-align: middle;
}
.promo .header .logo__subtitle {
  font-size: 16px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.32);
  position: relative;
  top: 2px;
}
.promo .header .logo__subtitle p {
  line-height: 18px;
  margin: 0;
}
.promo .header .social-icon {
  text-align: right;
  color: #404040;
  font-size: 0;
}
.promo .header .social-icon__item {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  line-height: 34px;
  margin: 6px 9px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
  color: #404040;
}
.promo .header .social-icon__item:hover {
  -webkit-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
}
.promo .header .social-icon__item:last-child {
  margin-right: 5px;
}
.promo .header .social-icon__item .icon-facebook {
  font-size: 22px;
}
.promo .header .social-icon__item .icon-vk {
  font-size: 21px;
}
.promo .header .social-icon__item .icon-instagram {
  font-size: 20px;
}
.promo .header .social-icon__item span {
  display: inline-block;
  vertical-align: middle;
}
.problems-wr {
  padding-bottom: 25px;
}
.problems {
  margin-bottom: 40px;
}
.problems:after {
  content: '';
  display: table;
  clear: both;
}
.problems__icon {
  float: left;
  width: 79px;
  height: 79px;
  line-height: 79px;
  background-color: #fcbc31;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0 0 0 8px rgba(252, 195, 69, 0.25);
          box-shadow: 0 0 0 8px rgba(252, 195, 69, 0.25);
}
.problems__icon span {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
}
.problems__icon span:before {
  color: #252533 !important;
}
.problems__icon span.icon-money,
.problems__icon span.icon-time-passing,
.problems__icon span.icon-shirt {
  font-size: 45px;
}
.problems__text {
  color: #252533;
  font-size: 26px;
  line-height: 1.3;
  margin-left: 109px;
  padding-top: 10px;
}
.consult-wr {
  background-color: #f5f2f2;
  padding: 40px 0;
}
.consult-wr .container {
  position: relative;
}
.consult-wr .consult-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: url("../img/consult.jpg") no-repeat center center;
  -webkit-background-size: cover;
          background-size: cover;
  margin: 0 15px;
}
.consult {
  padding: 110px 0 160px;
}
.consult:after {
  content: '';
  display: table;
  clear: both;
}
.consult__item {
  padding: 38px 27px 30px;
  text-align: center;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border: 3px solid #ffffff;
  background: rgba(37, 37, 51, 0.9);
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.29);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.29);
}
.consult__item .btn--yellow {
  padding: 22px 22px 18px;
}
.consult__title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
}
.consult__text {
  color: #fff;
  font-size: 24px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.facts-wr {
  background: url("../img/facts.jpg") no-repeat center 60%;
  -webkit-background-size: cover;
          background-size: cover;
}
.facts-wr .h2 {
  color: #fff;
}
.facts {
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border: 5px solid rgba(206, 206, 206, 0.5);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px;
  margin-bottom: 63px;
}
.facts .facts-list {
  list-style: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.facts__item {
  padding-left: 26px;
  position: relative;
  margin-bottom: 27px;
}
.facts__item:before {
  position: absolute;
  top: 5px;
  left: 0;
  content: '';
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #e4ab2d;
  -webkit-box-shadow: 0 0 0 4px rgba(252, 195, 69, 0.25);
          box-shadow: 0 0 0 4px rgba(252, 195, 69, 0.25);
}
.facts .hr {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.28;
  padding: 0 28px;
  margin-bottom: 33px;
}
.facts .blockquote {
  color: #fcc141;
  font-size: 28px;
  text-align: center;
  position: relative;
  display: inline-block;
}
.facts .blockquote span {
  color: #fff;
  font-size: 72px;
  letter-spacing: -9.3px;
  opacity: 0.8;
}
.facts .blockquote span.mark-up {
  position: absolute;
  top: -20px;
  left: -35px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.facts .blockquote span.mark-down {
  position: absolute;
  bottom: -20px;
  right: -35px;
}
.result-wr {
  margin-bottom: 60px;
}
.result {
  background: url('../img/result.jpg') center center no-repeat;
}
.result__item {
  font-size: 18px;
  color: #000;
  margin-bottom: 70px;
  position: relative;
}
.result__item:last-child {
  margin-bottom: 0;
}
.result__item.left {
  margin-left: 115px;
}
.result__item.right {
  margin-right: 115px;
}
.result__item:before {
  position: absolute;
  content: '';
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fbc244;
  width: 15px;
  height: 15px;
  -webkit-box-shadow: 0 0 0 4px rgba(252, 195, 69, 0.25);
          box-shadow: 0 0 0 4px rgba(252, 195, 69, 0.25);
}
.result__item-title {
  font-weight: 700;
  text-transform: uppercase;
}
.result-list.right {
  text-align: right;
}
.result-list.right .result__item.top {
  margin-right: 10px;
}
.result-list.right .result__item.top:before {
  bottom: -5px;
  right: -33px;
}
.result-list.right .result__item.second:before {
  top: 35px;
  right: -33px;
}
.result-list.right .result__item.third:before {
  right: -33px;
  top: 35px;
}
.result-list.right .result__item.last {
  margin-right: 10px;
}
.result-list.right .result__item.last:before {
  right: -33px;
  top: -5px;
}
.result-list.left {
  text-align: left;
}
.result-list.left .result__item.top {
  margin-left: 10px;
}
.result-list.left .result__item.top:before {
  bottom: -5px;
  left: -33px;
}
.result-list.left .result__item.second:before {
  top: 35px;
  left: -33px;
}
.result-list.left .result__item.third:before {
  top: 35px;
  left: -33px;
}
.result-list.left .result__item.last {
  margin-left: 10px;
}
.result-list.left .result__item.last:before {
  top: -5px;
  left: -33px;
}
.process-wr {
  padding-bottom: 63px;
}
.process {
  background: url('../img/process.jpg') center 61px no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
}
.process .row > div:nth-child(2) .process__item {
  margin-left: 30px;
  margin-right: 15px;
}
.process .row:last-child .process__item {
  margin-top: 23px;
}
.process__item {
  margin-bottom: 39px;
  font-size: 18px;
}
.process__item.top span {
  position: relative;
  top: -9px;
}
.process__item span {
  position: relative;
  left: -30px;
  font-size: 50px;
  width: 50px;
  height: 50px;
}
.process__item span:after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -8px;
  content: '';
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fbc244;
  width: 15px;
  height: 15px;
  -webkit-box-shadow: 0 0 0 4px rgba(252, 195, 69, 0.25);
          box-shadow: 0 0 0 4px rgba(252, 195, 69, 0.25);
}
.process__title {
  padding-top: 45px;
  text-transform: uppercase;
  font-weight: bold;
}
.programs-wr {
  background-color: #f5f2f2;
  padding-bottom: 63px;
}
.programs-wr .tab-wr .box-tab .tab-cont.hide {
  display: none;
}
.programs-wr .tab-wr .box-tab .program {
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.29);
          box-shadow: 0 0 40px rgba(0, 0, 0, 0.29);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  overflow: hidden;
}
.programs-wr .tab-wr .box-tab .program__col-left {
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.programs-wr .tab-wr .box-tab .program__col-left.position {
  background-position: 30% center;
}
.programs-wr .tab-wr .box-tab .program__col-right {
  width: 50%;
  background-color: #252533;
  padding: 33px 45px 33px 40px;
  color: #fff;
}
.programs-wr .tab-wr .box-tab .program__col-right .hr {
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #cb9931;
  margin-bottom: 33px;
  margin: 18px 0;
}
.programs-wr .tab-wr .box-tab .program__col-right .btn--yellow {
  font-size: 14px;
  padding: 20px 30px;
  word-spacing: nowrap;
}
.programs-wr .tab-wr .box-tab .program__title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 27px;
}
.programs-wr .tab-wr .box-tab .program__title + span {
  font-size: 16px;
  text-transform: none;
  position: relative;
  top: -27px;
}
.programs-wr .tab-wr .box-tab .program__subtitle {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.programs-wr .tab-wr .box-tab .program__list {
  font-size: 16px;
  list-style: none;
}
.programs-wr .tab-wr .box-tab .program__item {
  margin-bottom: 15px;
  position: relative;
  padding-left: 23px;
}
.programs-wr .tab-wr .box-tab .program__item:before {
  position: absolute;
  top: 9px;
  margin-top: -3px;
  left: 0;
  content: '';
  display: inline-block;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #fbc244;
  width: 6px;
  height: 6px;
  -webkit-box-shadow: 0 0 0 4px rgba(252, 195, 69, 0.25);
          box-shadow: 0 0 0 4px rgba(252, 195, 69, 0.25);
}
.programs-wr .tab-wr .tab-list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 47px;
}
.programs-wr .tab-wr .tab-list__item a {
  padding: 17px 30px;
  background-color: #fcbc31;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-box-shadow: inset 0 -3px 0 #f1ad19;
          box-shadow: inset 0 -3px 0 #f1ad19;
}
.programs-wr .tab-wr .tab-list__item:first-child a {
  -webkit-border-top-left-radius: 50px;
          border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
          border-bottom-left-radius: 50px;
}
.programs-wr .tab-wr .tab-list__item:last-child a {
  -webkit-border-top-right-radius: 50px;
          border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
          border-bottom-right-radius: 50px;
}
.programs-wr .tab-wr .tab-list__item.active {
  position: relative;
}
.programs-wr .tab-wr .tab-list__item.active a {
  background-color: #e0dfdf;
  -webkit-box-shadow: inset 0 3px 0 #bbbaba;
          box-shadow: inset 0 3px 0 #bbbaba;
}
.programs-wr .tab-wr .tab-list__item.active:after {
  position: absolute;
  content: '';
  display: inline-block;
  border: 10px solid transparent;
  border-top: 10px solid #e0dfdf;
  bottom: -38px;
  left: 50%;
  margin-left: -10px;
}
.footer {
  background-color: #eae7e7;
}
.footer .footer-contacts {
  padding: 30px 0;
}
.footer .footer-contacts .footer-logo br {
  display: none;
}
.footer .footer-contacts .footer-logo__title {
  font-size: 34px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-weight: bold;
}
.footer .footer-contacts .footer-logo__title:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 40px;
  background-color: #fcbc31;
  margin: 0 20px 0 25px;
  vertical-align: middle;
}
.footer .footer-contacts .footer-logo__subtitle {
  font-size: 20px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 2px;
}
.footer .footer-contacts .footer-logo__subtitle p {
  line-height: 18px;
  margin: 0;
}
.footer .footer-contacts .social-icon {
  text-align: right;
  color: #404040;
  font-size: 0;
}
.footer .footer-contacts .social-icon .phone {
  color: #000;
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  line-height: 34px;
  margin: 6px 0 6px 21px;
}
.footer .footer-contacts .social-icon__item {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  line-height: 34px;
  margin: 6px 5px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
  color: #404040;
}
.footer .footer-contacts .social-icon__item:hover {
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
}
.footer .footer-contacts .social-icon__item:last-child {
  margin-right: 5px;
}
.footer .footer-contacts .social-icon__item .icon-facebook {
  font-size: 22px;
}
.footer .footer-contacts .social-icon__item .icon-vk {
  font-size: 21px;
}
.footer .footer-contacts .social-icon__item .icon-instagram,
.footer .footer-contacts .social-icon__item .icon-phone-call {
  font-size: 20px;
}
.footer .footer-contacts .social-icon__item span {
  display: inline-block;
  vertical-align: middle;
}
.footer .footer-info {
  background-color: #f5f2f2;
  padding: 23px 0;
}
.footer .footer-info br {
  display: none;
}
.footer .footer-info p {
  font-size: 20px;
  color: #000;
  line-height: 32px;
}
.footer .footer-info p.right {
  font-size: 18px;
  float: right;
  margin-right: 25px;
  line-height: 27px;
}
.footer .footer-info a {
  font-size: 23px;
  color: #010000;
  margin-left: 20px;
  text-transform: uppercase;
  position: relative;
  top: 6px;
}
.footer .footer-info a svg {
  height: 23px;
  width: 210px;
}
.footer .footer-info a svg circle.cls-1 {
  fill: #fcbc31;
}
.clients {
  background-color: #f5f2f2;
  padding-bottom: 35px;
}
.clients .h2 {
  margin-bottom: 30px;
}
.clients__text {
  text-align: center;
  color: #252533;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 35px;
}
.clients-slider {
  margin-bottom: 50px!important;
}
.clients-slider__item {
  cursor: pointer;
  display: block;
  width: 100%;
  max-width: 220px;
  height: 280px;
  overflow: hidden;
  position: relative;
  margin: 0 auto 30px;
}
.clients-slider__item:last-child {
  margin-bottom: 0;
}
.clients-slider__item .small-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
  -webkit-background-size: cover!important;
          background-size: cover!important;
  background-repeat: no-repeat;
  background-position: center top;
}
.clients-slider__item .slider-text {
  position: absolute;
  padding: 13px;
  bottom: 25px;
  right: 0;
  left: 0;
  top: auto;
  width: auto;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s,
              bottom 1s ease 0s;
  -o-transition: opacity 0.8s ease 0s,
              bottom 1s ease 0s;
  transition: opacity 0.8s ease 0s,
              bottom 1s ease 0s;
}
.clients-slider__item .slider-text-wr {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: background 1s ease 0s;
  -o-transition: background 1s ease 0s;
  transition: background 1s ease 0s;
  width: 100%;
  z-index: 99;
  background: transparent;
}
.clients-slider__item .slider-text__name {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 9px;
}
.clients-slider__item .slider-text__post {
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
}
.clients-slider__item:hover .small-img {
  -webkit-transform:  scale(1.1);
      -ms-transform:  scale(1.1);
          transform:  scale(1.1);
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: grayscale(50%);; /* W3C */
}
.clients-slider__item:hover .slider-text {
  opacity: 1;
  bottom: 0;
}
.clients-slider__item:hover .slider-text-wr {
  background: rgba(0, 0, 0, 0.4);
}
.clients-slider .slick-prev,
.clients-slider .slick-next {
  width: 42px;
  height: 42px;
  background-color: #fff!important;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 0 5px #d7d7d7;
          box-shadow: 0 0 5px #d7d7d7;
  -webkit-transition: -webkit-box-shadow 1s ease 0s;
  transition: -webkit-box-shadow 1s ease 0s;
  -o-transition: box-shadow 1s ease 0s;
  transition: box-shadow 1s ease 0s;
  transition: box-shadow 1s ease 0s, -webkit-box-shadow 1s ease 0s;
  color: #000;
  font-size: 20px;
  text-align: center;
  z-index: 55;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.clients-slider .slick-prev:hover,
.clients-slider .slick-next:hover {
  -webkit-box-shadow: 0 0 5px transparent;
          box-shadow: 0 0 5px transparent;
  background-color: #fbc144!important;
}
.clients-slider .slick-next span {
  position: relative;
  right: -2px;
}
.clients-slider .slick-prev span {
  position: relative;
  left: -2px;
}
.clients-slider .slick-prev:before,
.clients-slider .slick-next:before {
  display: none;
}
.clients-slider .slick-prev:hover,
.clients-slider .slick-prev:focus,
.clients-slider .slick-next:hover,
.clients-slider .slick-next:focus {
  color: #000;
}
.clients-slider .slick-prev {
  left: -45px;
}
.clients-slider [dir='rtl'] .slick-prev {
  right: -45px;
  left: auto;
}
.clients-slider .slick-next {
  right: -45px;
}
.clients-slider [dir='rtl'] .slick-next {
  right: auto;
  left: -45px;
}
.slick-loading .slick-list {
  background: #ffffff url('../img/ajax-loader.gif') center center no-repeat;
}
.video {
  padding-bottom: 35px;
}
.video-slider {
  margin-bottom: 30px;
}
.video-slider-nav {
  position: relative;
  text-align: center;
}
.video-slider-nav .slick-prev,
.video-slider-nav .slick-next {
  color: #000;
  font-size: 35px;
  line-height: 1.3;
  text-align: center;
  z-index: 55;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.video-slider-nav .slick-prev:hover,
.video-slider-nav .slick-next:hover {
  -webkit-box-shadow: 0 0 5px transparent;
          box-shadow: 0 0 5px transparent;
}
.video-slider-nav .slick-prev:before,
.video-slider-nav .slick-next:before {
  display: none;
}
.video-slider-counter {
  position: relative;
  top: -3px;
  display: inline-block;
  vertical-align: middle;
  color: #fcbc31;
  line-height: 1.3;
}
.video-slider-counter .cur-of-slides {
  color: #252533;
  font-weight: 700;
  font-size: 42px;
}
.video-slider-counter .count-of-slides {
  font-size: 28px;
}
.video-slider-counter .sep {
  font-size: 30px;
  margin: 0 5px;
}
.video .slick-prev.slick-arrow.slick-disabled,
.video .slick-next.slick-arrow.slick-disabled {
  opacity: 0;
}
.popup-block {
  position: relative;
  background: #FFF;
  color: #252533;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.popup-block__body {
  position: relative;
  padding: 35px;
}
.popup-block .btn {
  border: 0;
  margin: 10px 0;
  font-size: 16px;
    padding: 20px 30px;
    font-family: 'Circe';
    line-height: 1.2;
    width:100%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.popup-block .h2 {
  margin: 0 0 20px;
  font-size: 32px;
}
.popup-text {
  font-size: 20px;
  line-height: 1.3;
  margin: 0 0 35px;
  text-align: center;
}
.call-form__block {
  margin: 0 0 24px;
}
.call-form__row:last-child {
  text-align: center;
  margin-bottom: 0;
}
.call-form-field {
  font-size: 18px;
  line-height: 1.3;
  padding: 12px;
  background: #fff;
  color: #252533;
  display: block;
  width: 100%;
  border: 1px solid #d4d4d4;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.call-form-label {
  font-size: 20px;
  line-height: 1.3;
  display: block;
  margin-bottom: 10px;
}
.error {
  border-color: #EF5E5E!important;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);

  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
}

.mfp-gallery .mfp-arrow-right:before,
.mfp-gallery .mfp-arrow-right:after,
.mfp-gallery .mfp-arrow-left:before,
.mfp-gallery .mfp-arrow-left:after{
  display: none;
}
.mfp-gallery .mfp-arrow-right,
.mfp-gallery .mfp-arrow-left{
  color: #fff;
  font-size: 50px;
}

.mfp-zoom-out-cur{
  cursor: default;
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close{
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

@media screen and (min-width: 769px) {
    .popup-block {
        max-width: 520px;
    }
    .popup-block__body {
        position: relative;
        padding: 35px 55px;
    }
}
@media (max-width: 1080px) {

  .clients-slider .slick-prev {
    left: 0px;
  }
  .clients-slider [dir='rtl'] .slick-prev {
    right: 0px;
    left: auto;
  }
  .clients-slider .slick-next {
    right: 0px;
  }
  .clients-slider [dir='rtl'] .slick-next {
    right: auto;
    left: 0px;
  }
}
@media (max-width: 991px) {
  .h1 {
    font-size: 44px;
  }
  .h2 {
    font-size: 38px;
    margin: 35px 0;
  }
  .promo {
    padding-bottom: 150px;
  }
  .facts {
    padding: 30px;
  }
  .facts .blockquote {
    font-size: 26px;
  }
  .result {
    -webkit-background-size: 250px 250px;
            background-size: 250px;
  }
  .result__item-text br {
    display: none;
  }
  .result__item {
    font-size: 16px;
    margin-bottom: 34px;
  }
  .result__item.left {
    margin-left: 125px;
  }
  .result__item.right {
    margin-right: 125px;
  }
  .result-list.right .result__item.top {
    margin-right: 60px;
  }
  .result-list.right .result__item.top:before {
    bottom: -14px;
  }
  .result-list.right .result__item.last {
    margin-right: 60px;
  }
  .result-list.right .result__item.last:before {
    bottom: -14px;
  }
  .result-list.left .result__item.top {
    margin-left: 60px;
  }
  .result-list.left .result__item.top:before {
    bottom: -14px;
  }
  .result-list.left .result__item.last {
    margin-left: 60px;
  }
  .result-list.left .result__item.last:before {
    bottom: -14px;
  }
  .problems__text {
    min-height: 92px;
    font-size: 21px;
    margin-left: 100px;
  }
  .problems__icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  .process-wr {
    -webkit-background-size: 775px 775px;
            background-size: 775px;
    background-position: center 35px;
  }
  .process {
    background-position: center 43px !important;
  }
  .process .row:last-child .process__item {
    margin-top: 15px;
  }
  .process__title {
    font-size: 14px;
    padding-top: 40px;
  }
  .process__item {
    text-align: center;
    font-size: 14px;
    margin-bottom: 34px;
  }
  .process__item.top span {
    top: 0;
  }
  .process__item span {
    width: 30px;
    height: 30px;
    font-size: 30px;
    left: 0;
  }
  .process__item span:after {
    bottom: -30px;
  }
  .footer-wr .footer .footer-contacts .social-icon {
    text-align: center;
  }
  .footer-wr .footer .footer-contacts .social-icon .phone {
    margin-left: 9px;
  }
  .footer-wr .footer .footer-info {
    text-align: center;
  }
  .footer-wr .footer .footer-info a {
    margin-left: 10px;
  }
  .footer-wr .footer .footer-info p {
    float: none;
    margin-right: 0;
  }
  .footer-wr .footer .footer-logo {
    margin-bottom: 20px;
    text-align: center;
  }
  .programs-wr .tab-wr .box-tab .program__col-right .btn--yellow{
    text-align: center;
  }
}
@media (max-width: 767px) {
  .h2 {
    font-size: 28px;
  }
  .programs-wr .tab-wr .tab-list {
    font-size: 12px;
  }
  .programs-wr .tab-wr .box-tab .program {
    -webkit-border-radius: 0;
            border-radius: 0;
    border: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: cover;
        -ms-flex-direction: cover;
            flex-direction: cover;
    margin: 0 -15px;
  }
  .programs-wr .tab-wr .box-tab .program__col-right {
    width: 100%;
    padding: 33px 15px;
  }
  .programs-wr .tab-wr .box-tab .program__col-left {
    position: absolute;
    left: 2%;
    top: 100px;
    height: 320px;
    width: 96%;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
  }
  .programs-wr .tab-wr .box-tab .program__col-left.margin {
    top: 160px;
  }
  .programs-wr .tab-wr .box-tab .program__title {
    margin-bottom: 410px;
    text-align: center;
  }
  .programs-wr .tab-wr .box-tab .program__title + span {
    top: -370px;
    display: block;
    text-align: center;
  }
  .problems {
    margin-bottom: 25px;
  }
  .problems__icon {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 54px;
    height: 54px;
    line-height: 54px;
  }
  .problems__icon span {
    font-size: 27px;
  }
  .problems__icon span.icon-money,
  .problems__icon span.icon-time-passing,
  .problems__icon span.icon-shirt {
    font-size: 30px;
  }
  .problems__text {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
    min-height: 68px;
    padding: 0 15%;
  }
  .consult-wr {
    padding: 0;
  }
  .consult-wr .consult-img {
    position: static;
    height: 330px;
    margin: 0;
    background-position: 25% top;
  }
  .consult {
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
  }
  .consult__item {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 100%;
    margin-top: -20px;
    background: #252533;
  }
  .consult__item .btn--yellow {
    font-size: 14px;
    padding: 20px 15px;
  }
  .consult__title {
    font-size: 28px;
  }
  .consult__text {
    font-size: 22px;
  }
  .facts {
    padding-left: 0;
    padding-right: 0;
    margin-right: -15px;
    margin-left: -15px;
    border: none;
    border-top: 5px solid rgba(206, 206, 206, 0.5);
    border-bottom: 5px solid rgba(206, 206, 206, 0.5);
    -webkit-border-radius: 0;
            border-radius: 0;
  }
  .facts .hr {
    padding: 0;
  }
  .facts > .row {
    margin: 0;
  }
  .facts-wr {
    margin-top: -10px;
  }
  .facts .blockquote {
    font-size: 20px;
    padding: 0 10%;
    display: block;
    position: static;
  }
  .facts .blockquote br {
    display: none;
  }
  .facts .blockquote span {
    font-size: 50px;
  }
  .facts .blockquote span.mark-up {
    left: 40px;
  }
  .facts .blockquote span.mark-down {
    right: 40px;
  }
  .facts .facts-list {
    font-size: 17px;
  }
  .facts__item {
    margin-bottom: 22px;
  }
  .promo {
    padding-bottom: 70px;
    background: url("../img/promo-mob.jpg") no-repeat center top;
    position: relative;
  }
  .promo .row > div {
    position: static;
  }
  .promo .header {
    padding-top: 10px;
  }
  .promo .header .logo {
    text-align: center;
  }
  .promo .header .logo__title {
    font-size: 28px;
  }
  .promo .header .logo__title:after {
    height: 30px;
    margin: 0 10px 0 15px;
  }
  .promo .header .logo__subtitle {
    font-size: 14px;
    text-align: left;
  }
  .main-screen {
    text-align: center;
  }
  .main-screen .h1 {
    font-size: 28px;
    margin-top: 160px;
  }
  .main-screen .h3 {
    font-size: 22px;
    margin-top: 20px;
  }
  .btn--service {
    margin-top: 25px;
    font-size: 14px;
    padding: 20px 25px 16px;
    margin-left: 0;
  }
  .social-icon {
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .result-wr {
    margin-bottom: 35px;
  }
  .result {
    background: none;
  }
  .result-list {
    padding-left: 35px;
  }
  .result-list.right {
    text-align: left;
  }
  .result-list .result__item {
    margin-bottom: 22px;
    margin-right: 0;
  }
  .result-list .result__item:before {
    top: 0 !important;
    left: -30px !important;
  }
  .result-list .result__item.left {
    margin-left: 0;
  }
  .result-list .result__item.top {
    margin-right: 0;
  }
  .result-list.left .result__item:before {
    top: 0;
    left: 0;
  }
  .result-list.left .result__item.last {
    margin-left: 0;
  }
  .result-list.left .result__item.top {
    margin-left: 0;
  }
  .process {
    background: none;
  }
  .process .row:last-child .process__item {
    margin-top: 0;
  }
  .process .row > div:nth-child(2) .process__item {
    margin-left: 0;
    margin-right: 0;
  }
  .process__item {
    text-align: left;
    font-size: 17px;
    margin-bottom: 0;
  }
  .process__item span {
    color: #fcbc31;
    float: left;
    width: 45px;
    height: 45px;
    font-size: 45px;
    padding-top: 40px;
  }
  .process__item span:after {
    display: none;
  }
  .process__title {
    padding-top: 40px !important;
    padding-left: 60px;
    font-size: 17px;
  }
  .process__text {
    padding-left: 60px;
  }
  .footer .footer-contacts .social-icon {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .footer .footer-contacts .social-icon .phone {
    font-size: 17px;
  }
  .footer .footer-contacts .footer-logo__title {
    font-size: 28px;
  }
  .footer .footer-contacts .footer-logo__subtitle {
    font-size: 14px;
  }
  .footer .footer-info br {
    display: block;
  }
  .footer .footer-info p {
    font-size: 18px;
  }
  .footer .footer-info p.right {
    font-size: 16px;
    line-height: 32px;
  }
  .footer .footer-info p.right a {
    top: 0;
  }
  .footer .footer-info p.right a svg {
    height: 16px;
  }
  .clients__text {
    font-size: 17px;
  }
  .clients-slider {
    width: 478px;
    margin: 0 auto 30px;
  }
  .clients-slider .slick-prev {
    left: -45px;
  }
  .clients-slider [dir='rtl'] .slick-prev {
    right: -45px;
    left: auto;
  }
  .clients-slider .slick-next {
    right: -45px;
  }
  .clients-slider [dir='rtl'] .slick-next {
    right: auto;
    left: -45px;
  }
  .video-slider iframe {
    height: 320px;
  }
}
@media (max-width: 600px) {
  .clients-slider {
    width: 320px;
  }
  .clients-slider .clients-slider__item {
    max-width: 145px;
    height: 180px;
  }
  .clients-slider .slider-text__post {
    display: none;
  }
  .clients-slider .slider-text__name {
    margin-bottom: 0;
    font-size: 18px;
  }
}
@media (max-width: 479px) {
  .problems {
    margin-bottom: 15px;
  }
  .problems__text {
    margin-top: 15px;
    font-size: 17px;
    min-height: 68px;
    padding: 0;
  }
  .programs-wr .tab-wr .tab-list {
    font-size: 11px;
  }
  .programs-wr .tab-wr .tab-list__item a {
    padding: 15px 10px;
  }
  .programs-wr .tab-wr .tab-list__item.active:after {
    bottom: -35px;
  }
  .programs-wr .tab-wr .box-tab .program__col-left {
    height: 214px;
  }
  .programs-wr .tab-wr .box-tab .program__title {
    margin-bottom: 310px;
  }
  .programs-wr .tab-wr .box-tab .program__title + span {
    top: -290px;
  }
  .footer .footer-info a svg {
    max-width: 125px;
  }
  .footer .footer-contacts .footer-logo br {
    display: block;
  }
  .footer .footer-contacts .social-icon__item {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  .footer .footer-contacts .social-icon__item .icon-facebook {
    font-size: 17px;
  }
  .footer .footer-contacts .social-icon__item .icon-vk {
    font-size: 17px;
  }
  .footer .footer-contacts .social-icon__item .icon-instagram,
  .footer .footer-contacts .social-icon__item .icon-phone-call {
    font-size: 15px;
  }
  .video-slider iframe {
    height: 170px;
  }
  .clients-slider .slick-prev {
    left: 10px;
  }
  .clients-slider [dir='rtl'] .slick-prev {
    right: 10px;
    left: auto;
  }
  .clients-slider .slick-next {
    right: 10px;
  }
  .clients-slider [dir='rtl'] .slick-next {
    right: auto;
    left: 10px;
  }
}