body {
	font-family: 'Circe';
	line-height: 1.2;
	min-width: 320px;
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.center{
	text-align: center;
}

.h1 {
	font-weight: bold;
	font-size: 48px;
	color: #fff;
	text-shadow: 0 0 18px #2e1e04;
	margin-top: 82px;
}

.h2 {
	color: #252533;
	font-size: 42px;
	font-weight: 700;
	text-align: center;
	margin: 60px 0;
	span {
		color: #fcbc31;
	}
}

.h3 {
	font-size: 32px;
	color: #fff;
	margin-top: 35px;
	font-weight: 400;
	text-shadow: 0 0 6px #2e1e04;
}

.btn {
	display: inline-block;
	font-weight: bold;
}

.btn--yellow {
	background-color: #fcbc31;
	font-size: 17px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 70px;
	box-shadow: 0 0 35px #ffad00;
	&:hover {
		box-shadow: 0 0 30px 7px #ffad00;
	}
}

.btn--service {
	padding: 22px 50px 18px;
	margin-top: 40px;
	margin-left: -10px;
}

.btn--video {
	padding: 20px 24px;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 70px;
	&:hover {
		background-color: #fff;
		color: #000;
	}
}

.promo {
	background: url("../img/promo.jpg") no-repeat center top;
	background-color: #000;
	padding-bottom: 190px;
	background-size: cover;
	.header {
		padding-top: 30px;
		.logo {
			&__title {
				font-size: 34px;
				color: #fff;
				display: inline-block;
				vertical-align: middle;
				text-shadow: 0 0 6px rgba(0,0,0,.32);
				font-weight: bold;
				&:after {
					content: '';
					display: inline-block;
					width: 1px;
					height: 40px;
					background-color: #fcbc31;
					margin: 0 20px 0 25px;
					vertical-align: middle;
				}
			}
			&__subtitle {
				font-size: 16px;
				color: #fff;
				display: inline-block;
				vertical-align: middle;
				text-shadow: 0 0 6px rgba(0,0,0,.32);
				position: relative;
				top: 2px;
				p {
					line-height: 18px;
					margin: 0;
				}
			}
		}
		.social-icon {
			text-align: right;
			color: #404040;
			font-size: 0;
			&__item {
				display: inline-block;
				text-align: center;
				vertical-align: middle;
				width: 34px;
				height: 34px;
				line-height: 34px;
				margin: 6px 9px;
				background-color: #fff;
				border-radius: 50%;
				box-shadow: 0 0 0 5px rgba(255,255,255,.2);
				color: #404040;
				&:hover {
					box-shadow: 0 0 0 5px rgba(255,255,255,.5);
				}
				&:last-child {
					margin-right: 5px;
				}
				.icon-facebook {
					font-size: 22px;
				}
				.icon-vk {
					font-size: 21px;
				}
				.icon-instagram {
					font-size: 20px;
				}
				span {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
}

.problems-wr {
	padding-bottom: 25px;
}

.problems{
	.clearfix;
	margin-bottom: 40px;
	&__icon {
		float: left;
		width: 79px;
		height: 79px;
		line-height: 79px;
		background-color: #fcbc31;
		border-radius: 50%;
		text-align: center;
		box-shadow: 0 0 0 8px rgba(252,195,69,.25);
		span {
			display: inline-block;
			vertical-align: middle; 
			font-size: 40px;
			&:before {
				color: #252533 !important;
			}
			&.icon-money, &.icon-time-passing, &.icon-shirt {
				font-size: 45px;
			}
		}
	}
	&__text {
		color: #252533;
		font-size: 26px;
		line-height: 1.3;
		margin-left: 109px;
		padding-top: 10px;
	}
}

.consult-wr {
	background-color: #f5f2f2;
	padding: 40px 0;
	.container {
		position: relative;
	}
	.consult-img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		background: url("../img/consult.jpg") no-repeat center center;
		background-size: cover;
		margin: 0 15px;
	}
}

.consult {
	padding: 110px 0 160px;
	.clearfix;
	&__item {
		padding: 38px 27px 30px;
		text-align: center;
		border-radius: 15px;
		border: 3px solid #ffffff;
		background: rgba(37,37,51,.9);
		box-shadow: 0 0 0 rgba(0,0,0,.29);
		.btn--yellow {
			padding: 22px 22px 18px;
		}
	}
	&__title {
		color: #ffffff;
		font-size: 32px;
		font-weight: 700;
	}
	&__text {
		color: #fff;
		font-size: 24px;
		margin-top: 25px;
		margin-bottom: 25px;
	}
}

.facts-wr {
	background: url("../img/facts.jpg") no-repeat center 60%;
	background-size: cover;
	.h2 {
		color: #fff;
	}
}

.facts {
	border-radius: 15px;
	border: 5px solid rgba(206, 206, 206, 0.5);
	background-color: rgba(0,0,0,.4);
	padding: 50px;
	margin-bottom: 63px; 
	.facts-list {
		list-style: none;
		color: #fff;
		font-size: 20px;
		font-weight: 300;
	}
	&__item {
		padding-left: 26px;
		position: relative;
		margin-bottom: 27px;
		&:before {
			position: absolute;
			top: 5px;
			left: 0;
			content: '';
			display: inline-block;
			border-radius: 50%;
			width: 10px;
			height: 10px;
			background-color: #e4ab2d;
			box-shadow: 0 0 0 4px rgba(252, 195, 69, 0.25);
		}
	}
	.hr {
		display: inline-block;
		width: 100%;
		height: 1px;
		background-color: #ffffff;
		opacity: 0.28;
		padding: 0 28px;
		margin-bottom: 33px;
	}
	.blockquote {
		color: #fcc141;
		font-size: 28px;
		text-align: center;
		position: relative;
		display: inline-block;
		span {
			color: #fff;
			font-size: 72px;
			letter-spacing: -9.3px;
			opacity: 0.8;
			&.mark-up {
				position: absolute;
				top: -20px;
				left: -35px;
				transform: rotate(180deg);
			}
			&.mark-down {
				position: absolute;
				bottom: -20px;
				right: -35px;
			}
		}
	}
}

.result-wr {
	margin-bottom: 60px;
}
.result {
	background: url('../img/result.jpg') center center no-repeat;
	&__item {
		font-size: 18px;
		color: #000;
		margin-bottom: 70px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		&.left {
			margin-left: 115px;
		}
		&.right {
			margin-right: 115px;
		}
		&:before {
			position: absolute;
			content: '';
			display: inline-block;
			border-radius: 50%;
			background-color: #fbc244;
			width: 15px;
			height: 15px;
			box-shadow: 0 0 0 4px rgba(252, 195, 69, 0.25);
		}
	}
	&__item-title {
		font-weight: 700;
		text-transform: uppercase;
	}
}
.result-list {
	&.right {
		text-align: right;
		.result__item {
			&.top {
				margin-right: 10px;
				&:before {
					bottom: -5px;
					right: -33px;
				}
			}
			&.second {
				&:before {
					top: 35px;
					right: -33px;
				}
			}
			&.third {
				&:before {
					right: -33px;
					top: 35px;
				}
			}
			&.last {
				margin-right: 10px;
				&:before {
					right: -33px;
					top: -5px
				}
			}
		}
	}
	&.left {
		text-align: left;
		.result__item {
			&.top {
				margin-left: 10px;
				&:before {
					bottom: -5px;
					left: -33px;
				}
			}
			&.second {
				&:before {
					top: 35px;
					left: -33px;
				}
			}
			&.third {
				&:before {
					top: 35px;
					left: -33px;
				}
			}
			&.last {
				margin-left: 10px;
				&:before {
					top: -5px;
					left: -33px;
				}
			}
		}
	}
}

.process-wr {
	padding-bottom: 63px;
}
.process {
	background: url('../img/process.jpg') center 61px no-repeat;
	background-size: contain;
	.row {
		> div {
			&:nth-child(2) {
				.process {
					&__item {
					margin-left: 30px;
					margin-right: 15px;
					}
				}
			}
		}
		&:last-child {
			.process {
				&__item {
					margin-top: 23px;
				}
			}
		}
	}
	&__item {
		margin-bottom: 39px;
		&.top {
			span {
				position: relative;
				top: -9px;
			}
		}
		font-size: 18px;
		span {
			position: relative;
			left: -30px;
			font-size: 50px;
			width: 50px;
			height: 50px;
			&:after {
				position: absolute;
				bottom: -30px;
				left: 50%;
				margin-left: -8px;
				content: '';
				display: inline-block;
				border-radius: 50%;
				background-color: #fbc244;
				width: 15px;
				height: 15px;
				box-shadow: 0 0 0 4px rgba(252, 195, 69, 0.25);
			}
		}
	}
	&__title {
		padding-top: 45px;
		text-transform: uppercase;
		font-weight: bold;
	}
}

.programs-wr {
	background-color: #f5f2f2;
	padding-bottom: 63px;
	.tab-wr {
		.box-tab {
			.tab-cont {
				&.hide {
					display: none;
				}
			}
			.program {
				box-shadow: 0 0 40px rgba(0,0,0,.29);
				display: flex;
				border: 3px solid #fff;
				border-radius: 50px;
				overflow: hidden;
				&__col-left {
					width: 50%;
					background-position: center; 
					background-repeat: no-repeat;
					background-size: cover;
					&.position {
						background-position: 30% center; 
					}
				}
				&__col-right {
					width: 50%;
					background-color: #252533;
					padding: 33px 45px 33px 40px;
					color: #fff;
					.hr {
						display: inline-block;
						width: 100%;
						height: 1px;
						background-color: #cb9931;
						margin-bottom: 33px;
						margin: 18px 0;
					}
					.btn--yellow {
						font-size: 14px;
						padding: 20px 15px;
						word-spacing: nowrap;
					}
				}
				&__title {
					font-size: 24px;
					text-transform: uppercase;
					margin-bottom: 27px;
					&+span {
						font-size: 16px;
						text-transform: none;
						position: relative;
						top: -27px;
					}
				}
				&__subtitle {
					font-size: 16px;
					font-weight: bold;
					text-transform: uppercase;
					margin-bottom: 18px;
				}
				&__list {
					font-size: 16px;
					list-style: none;
				}
				&__item {
					margin-bottom: 15px;
					position: relative;
					padding-left: 23px;
					&:before {
						position: absolute;
						top: 9px;
						margin-top: -3px;
						left: 0;
						content: '';
					    display: inline-block;
					    border-radius: 50%;
					    background-color: #fbc244;
					    width: 6px;
					    height: 6px;
					    box-shadow: 0 0 0 4px rgba(252, 195, 69, 0.25);
					}
				}
			}
		}
		.tab-list {
			list-style: none;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: bold;
			margin-bottom: 47px;
			&__item {
				a {
					padding: 17px 30px;
					background-color: #fcbc31;
					border-right: 2px solid #fff;
					border-left: 2px solid #fff;
					box-shadow: inset 0 -3px 0 rgba(241,173,25,1);
				}
				&:first-child {
					a {
						border-top-left-radius: 50px;
						border-bottom-left-radius: 50px;
					}
				}
				&:last-child {
					a {
						border-top-right-radius: 50px;
						border-bottom-right-radius: 50px;
					}
				}
				&.active {
					position: relative;
					a {
						background-color: #e0dfdf;
						box-shadow: inset 0 3px 0 #bbbaba;
					}
					&:after {
						position: absolute;
						content: '';
						display: inline-block;
						border: 10px solid transparent;	
						border-top: 10px solid #e0dfdf;
						bottom: -38px;
						left: 50%;
						margin-left: -10px;
					}
				}
			}
		}
	}
}

.footer {
	background-color: #eae7e7;
	.footer-contacts {
		padding: 30px 0;
		.footer-logo {
			br {
				display: none;
			}
			&__title {
				font-size: 34px;
				color: #000;
				display: inline-block;
				vertical-align: middle;
				font-weight: normal;
				font-weight: bold;
				&:after {
					content: '';
					display: inline-block;
					width: 1px;
					height: 40px;
					background-color: #fcbc31;
					margin: 0 20px 0 25px;
					vertical-align: middle;
				}
			}
			&__subtitle {
				font-size: 20px;
				color: #000;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				top: 2px;
				p {
					line-height: 18px;
					margin: 0;
				}
			}
		}
		.social-icon {
			text-align: right;
			color: #404040;
			font-size: 0;
			.phone {
				color: #000;
				font-size: 22px;
				display: inline-block;
				vertical-align: middle;
				line-height: 34px;
				margin: 6px 0 6px 21px;
			}
			&__item {
				display: inline-block;
				text-align: center;
				vertical-align: middle;
				width: 34px;
				height: 34px;
				line-height: 34px;
				margin: 6px 5px;
				background-color: #fff;
				border-radius: 50%;
				box-shadow: 0 0 0 5px rgba(255,255,255,.2);
				color: #404040;
				&:hover {
					box-shadow: 0 0 0 5px rgba(255,255,255,.5);
				}
				&:last-child {
					margin-right: 5px;
				}
				.icon-facebook {
					font-size: 22px;
				}
				.icon-vk {
					font-size: 21px;
				}
				.icon-instagram, .icon-phone-call {
					font-size: 20px;
				}
				span {
					display: inline-block;
					vertical-align: middle;
				}
			}
		}
	}
	.footer-info {
		background-color: #f5f2f2;
		padding: 23px 0;
		br {
			display: none;
		}
		p {
			font-size: 20px;
			color: #000;
			line-height: 32px;
			&.right {
				font-size: 18px;
				float: right;
				margin-right: 25px;
				line-height: 27px;
			}
		}
		a {
			font-size: 23px;
			color: #010000;
			margin-left: 20px;
			text-transform: uppercase;
			position: relative;
			top: 6px;
			svg {
				height: 23px;
				width: 210px;
				circle.cls-1 {
					fill: #fcbc31;
				}
			}
		}
	}
}

.clients{
	background-color: #f5f2f2;
	padding-bottom: 35px;
	.h2{
		margin-bottom: 30px;
	}
	&__text{
		text-align: center;
		color: #252533;
		font-size: 20px;
		line-height: 1.3;
		margin-bottom: 35px;
	}
	&-slider{
		margin-bottom: 50px!important;
		&__item{
			cursor: pointer;
		    display: block;
		    width: 100%;
		    max-width: 220px;
		    height: 280px;
		    overflow: hidden;
		    position: relative;
		    margin: 0 auto 30px;
		    &:last-child{
		    	margin-bottom: 0;
		    }
			.small-img{
				height: 100%;
			    left: 0;
			    position: absolute;
			    top: 0;
			    transition: transform 1s ease 0s;
			    width: 100%;
			    background-size: cover!important;
			    background-repeat: no-repeat;
			    background-position: center top;
			}
			.slider-text{
				&-wr{
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					transition: background 1s ease 0s;
					width: 100%;
					z-index: 99;
					background: transparent;
				}
				position: absolute;
				padding: 13px;
				bottom: 25px;
				right: 0;
				left: 0;
				top: auto;
				width: auto;
				opacity: 0;
				transition: opacity 1s ease 0s, 
							bottom 1s ease 0s;
				&__name{
					color: #fff;
					font-size: 24px;
					font-weight: 700;
					line-height: 1.3;
					margin-bottom: 9px;
				}
				&__post{
					color: #fff;
					font-size: 18px;
					line-height: 1.3;
				}
			}

			&:hover{
				.small-img{
					transform: translateY(20px) scale(1.2);
				}
				.slider-text{
					&-wr{
						background: rgba(0, 0, 0, 0.5);
					}
					opacity: 1;
					bottom: 0;
				}
			}
		}
		.slick-prev,
		.slick-next
		{
			width: 42px;
		    height: 42px;
		    background-color: #fff!important;
		    border-radius: 50%;
		    box-shadow: 0 0 5px rgb(215, 215, 215);
		    transition: box-shadow 1s ease 0s;
		    color: #000;
		    font-size: 20px;
		    text-align: center;
		    z-index: 55;
		    transition: 0.3s;

		    &:hover{
				box-shadow: 0 0 5px transparent;
				background-color: #fbc144!important;
		    }
		}

		.slick-next span{
			position: relative;
			right: -2px;
		}

		.slick-prev span{
			position: relative;
			left: -2px;
		}

		.slick-prev:before,
		.slick-next:before
		{
		    display: none;
		}

		.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
			color: #000;
		}

		.slick-prev
		{
		    left: -45px;
		}
		[dir='rtl'] .slick-prev
		{
		    right: -45px;
		    left: auto;
		}
		.slick-next
		{
		    right: -45px;
		}
		[dir='rtl'] .slick-next
		{
		    right: auto;
		    left: -45px;
		}
	}
}

.slick-loading .slick-list{
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

.video{
	padding-bottom: 35px;
	&-slider{
		margin-bottom: 30px;
		&-nav{
			position: relative;
			text-align: center;
			.slick-prev,
			.slick-next
			{
			    color: #000;
			    font-size: 35px;
			    line-height: 1.3;
			    text-align: center;
			    z-index: 55;
			    position: relative;
			    display: inline-block;
			    vertical-align: middle;
			    width: auto;
			    height: auto;
			    transform: none;

			    &:hover{
					box-shadow: 0 0 5px transparent;
			    }
			}
			.slick-prev:before,
			.slick-next:before
			{
			    display: none;
			}
		}

		&-counter{
			position: relative;
			top: -3px;
			display: inline-block;
			vertical-align: middle;
			color: #fcbc31;
			line-height: 1.3;
			.cur-of-slides{
				color: #252533;
				font-weight: 700;
				font-size: 42px;
			}
			.count-of-slides{
				font-size: 28px;
			}
			.sep{
				font-size: 30px;
				margin: 0 5px;
			}
		}
	}
	.slick-prev.slick-arrow.slick-disabled,
	.slick-next.slick-arrow.slick-disabled{
		opacity: 0;
	}
}

.popup-block{
	position: relative;
	background: #FFF;
	color: #252533;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	&__body{
		position: relative;
		padding: 35px;
	}
	.btn{
		border: 0;
		margin: 10px 0;
		font-size: 16px;
	}
	.h2{
		margin: 0 0 35px;
		font-size: 32px;
	}
}
.popup-text{
	font-size: 20px;
	line-height: 1.3;
	margin: 0 0 35px;
	text-align: center;
}
.call-form{
	&__block{
		margin: 0 0 30px;
	}
	&__row{
		
		&:last-child{
			text-align: center;
			margin-bottom: 0;
		}
	}
	&-field{
		font-size: 18px;
		line-height: 1.3;
		padding: 12px;
		background: #fff;
		color: #252533;
		display: block;
		width: 100%;
		border: 3px solid #d4d4d4;
	}
	&-label{
		font-size: 20px;
		line-height: 1.3;
		display: block;
		margin-bottom: 10px;
	}
}

.error {
  border-color: #EF5E5E!important;
}

@media (max-width: 1080px) {
	.clients-slider{
		.slick-prev
		{
		    left: 0px;
		}
		[dir='rtl'] .slick-prev
		{
		    right: 0px;
		    left: auto;
		}
		.slick-next
		{
		    right: 0px;
		}
		[dir='rtl'] .slick-next
		{
		    right: auto;
		    left: 0px;
		}
	}
}

@media (max-width: 991px) {
	.h1{
		font-size: 44px;
	}
	.h2{
		font-size: 38px;
		margin: 35px 0;
	}
	.promo{
		padding-bottom: 150px;
	}
	.facts {
		padding: 30px;
		.blockquote {
			font-size: 26px;
		}
	}
	.result {
		background-size: 250px;
		&__item-text {
			br {
				display: none;
			}
		}
		&__item {
			font-size: 16px;
			margin-bottom: 34px;
			&.left {
				margin-left: 125px;
			}
			&.right {
				margin-right: 125px;
			}
		}
	}
	.result-list {
		&.right {
			.result__item {
				&.top {
					margin-right: 60px;
					&:before {
						bottom: -14px; 
					}
				}
				&.last {
					margin-right: 60px;
					&:before {
						bottom: -14px; 
					}
				}
			}
		}
		&.left {
			.result__item {
				&.top {
					margin-left: 60px;
					&:before {
						bottom: -14px; 
					}
				}
				&.last {
					margin-left: 60px;
					&:before {
						bottom: -14px; 
					}
				}
			}
		}
	}
	.problems {
		&__text {
			min-height: 92px;
			font-size: 21px;
			margin-left: 100px;
		}
		&__icon {
			width: 70px;
			height: 70px;
			line-height: 70px;
		}
	}
	.process-wr {
		background-size: 775px;
		background-position: center 35px;
	}
	.process {
			background-position: center 43px !important; 
		.row {
			&:last-child {
				.process {
					&__item {
						margin-top: 15px;
					}
				}
			}
		}
		&__title {
			font-size: 14px;
			padding-top: 40px;
		}
		&__item {
			text-align: center;
			font-size: 14px;
			margin-bottom: 34px;
			&.top {
				span {
					top: 0;
				}
			}
			span {
				width: 30px;
				height: 30px;
				font-size: 30px;
				left: 0;
				&:after {
					bottom: -30px;
				}
			}
		}
	}
	.footer-wr {
		.footer {
			.footer-contacts {
				.social-icon {
					text-align: center;
					.phone {
						margin-left: 9px;
					}
				} 
			}
			.footer-info {
				text-align: center;
				a {
					margin-left: 0;
				}
				p {
					float: none;
					margin-right: 0;
				}
			}
			.footer-logo {
				margin-bottom: 20px;
				text-align: center;
			}
		}
	}
}

@media (max-width: 767px) {
	.h2 {
		font-size: 28px;
	}
	.programs-wr {
		.tab-wr {
			.tab-list {
				font-size: 12px;
			}
			.box-tab {
				.program {
					border-radius: 0;
					border: none;
					border-top: 3px solid #fff;
					border-bottom: 3px solid #fff;
					position: relative;
					flex-direction: cover;
					margin: 0 -15px;
					&__col-right {
						width: 100%;
						padding: 33px 15px;
					}
					&__col-left {
						position: absolute;
						left: 2%;
						top: 100px;
						height: 320px;
						width: 96%;
						background-size: 100%;
						&.margin {
							top: 160px;
						}
					} 
					&__title {
						margin-bottom: 410px;
						text-align: center;
						&+span {
							top: -370px;
							display: block;
							text-align: center;
						}
					}
				}
			}
		}
	}
	.problems {
		margin-bottom: 25px;
		&__icon {
			float: none;
			margin-left: auto;
			margin-right: auto;
			width: 54px;
			height: 54px;
			line-height: 54px;
			span {
				font-size: 27px;
				&.icon-money, &.icon-time-passing, &.icon-shirt {
					font-size: 30px;
				}
			}
		}
		&__text {
			margin-left: 0;
			margin-top: 20px;
			text-align: center;
			font-size: 17px;
			min-height: 68px;
			padding: 0 15%;
		}
	}
	.consult-wr {
		padding: 0;
		.consult-img {
			position: static;
			height: 330px;
			margin: 0;
			background-position: 25% top;
		}
	}
	.consult {
		padding: 0;
		margin-left: -15px;
		margin-right: -15px;
		&__item {
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
			width: 100%;
			margin-top: -20px;
			background: rgba(37,37,51,1);
			.btn--yellow {
				font-size: 14px;
				padding: 20px 15px;
				word-spacing: nowrap;
			}
		}
		&__title {
			font-size: 28px;
		}
		&__text {
			font-size: 22px;
		}
	}
	.facts {
		padding-left: 0;
		padding-right: 0;
		margin-right: -15px;
		margin-left: -15px;
		border: none;
		border-top: 5px solid rgba(206, 206, 206, 0.5);
		border-bottom: 5px solid rgba(206, 206, 206, 0.5);
		border-radius: 0;
		.hr {
			padding: 0;
		}
		> .row{
			margin: 0;
		}
		&-wr{
			margin-top: -10px;
		}
		.blockquote {
			font-size: 20px;
			padding: 0 10%;
			display: block;
			position: static;
			br {
				display: none;
			}
			span {
				font-size: 50px;
				&.mark-up {
					left: 40px;
				}
				&.mark-down {
					right: 40px;
				}
			}
		}
		.facts-list {
			font-size: 17px;
		}
		&__item {
			margin-bottom: 22px;
		}
	}
	.promo {
		padding-bottom: 70px;
		background: url("../img/promo-mob.jpg") no-repeat center top;
		position: relative;
		.row{
			> div{
				position: static;
			}
		}
		.header {
			padding-top: 10px;
			.logo {
				text-align: center;
				&__title {
					font-size: 28px;
					&:after {
						height: 30px;
						margin: 0 10px 0 15px;
					}
				}
				&__subtitle {
					font-size: 14px;
					text-align: left;
				}
			}
		}
	}
	.main-screen{
		text-align: center;
		.h1{
			font-size: 28px;
			margin-top: 160px;
		}
		.h3{
			font-size: 22px;
			margin-top: 20px;
		}
	}
	.btn--service{
		margin-top: 25px;
		font-size: 14px;
		padding: 20px 25px 16px;
		margin-left: 0;
	}
	.social-icon{
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
	.result-wr {
		margin-bottom: 35px;
	}
	.result {
		background: none;
	}
	.result-list {
		padding-left: 35px;
		&.right {
			text-align: left;
		}
		.result__item {
			margin-bottom: 22px;
			margin-right: 0;
			&:before {
				top: 0 !important;
				left: -30px !important;
			}
			&.left {
				margin-left: 0;
			}
			&.top {
				margin-right: 0;
			}
		}
		&.left {
			.result__item {
				&:before {
					top: 0;
					left: 0;
				}
				&.last {
					margin-left: 0;
				}
				&.top {
					margin-left: 0;
				}
			}
		}
	}
	.process {
		background: none;
		.row {
			&:last-child {
				.process {
					&__item {
						margin-top: 0;
					}
				}
			}
			> div {
				&:nth-child(2) {
					.process {
						&__item {
							margin-left: 0;
							margin-right: 0;
						}
					}
				}
			}
		}
		&__item {
			text-align: left;
			font-size: 17px;
			margin-bottom: 0;
			span {
				color: #fcbc31;
				float: left;
				width: 45px;
				height: 45px;
				font-size: 45px;
				padding-top: 40px;
				&:after {
					display: none;
				}
			}
		}
		&__title {
			padding-top: 40px !important;
			padding-left: 60px;
			font-size: 17px;
		}
		&__text {
			padding-left: 60px;
		}
	}
	.footer {
		.footer-contacts {
			.social-icon {
				position: static;
				transform: none;
				.phone {
					font-size: 17px;
				}
			}
			.footer-logo {
				&__title {
					font-size: 28px;
				}
				&__subtitle {
					font-size: 14px;
				}
			}
		}
		.footer-info {
			br {
					display: block;
				}
			p {
				font-size: 18px;
				&.right {
					font-size: 16px;
					a {
						top: -6px;
						svg {
							height: 16px;
						}
					}
				}
			}
		}
	}
	.clients__text{
		font-size: 17px;
	}
	.clients-slider{
		width: 478px;
		margin: 0 auto 30px;
		.slick-prev
		{
		    left: -45px;
		}
		[dir='rtl'] .slick-prev
		{
		    right: -45px;
		    left: auto;
		}
		.slick-next
		{
		    right: -45px;
		}
		[dir='rtl'] .slick-next
		{
		    right: auto;
		    left: -45px;
		}
	}
	.video-slider{
		iframe{
			height: 320px;
		}
	}

}

@media (max-width: 600px) {
	.clients-slider{
		width: 320px;
		.clients-slider__item {
		    max-width: 145px;
		    height: 180px;
		}
		.slider-text{
			&__post{
				display: none;
			}
			&__name{
				margin-bottom: 0;
				font-size: 18px;
			}
		}
	}
}

@media (max-width: 479px) {
	.problems {
		margin-bottom: 15px;
		&__text {
			margin-top: 15px;
			font-size: 17px;
			min-height: 68px;
			padding: 0;
		}
	}
	.programs-wr {
		.tab-wr {
			.tab-list {
				font-size: 11px;
				&__item {
					a {
						padding: 15px 10px;
					}
					&.active {
						&:after {
							bottom: -35px; 
						}
					}
				}
			}
			.box-tab {
				.program {
					&__col-left {
						height: 214px;
					}
					&__title {
						margin-bottom: 310px;
						&+span {
							top: -290px;
						}
					}
				}
			}
		}
	}
	.footer {
		.footer-info {
			a {
				svg {
					max-width: 125px;
				}
			}
		}
		.footer-contacts {
			.footer-logo {
				br {
					display: block;
				}
			}
			.social-icon {
				&__item {
					width: 25px;
					height: 25px;
					line-height: 25px;
					.icon-facebook {
						font-size: 17px;
					}
					.icon-vk {
						font-size: 17px;
					}
					.icon-instagram, .icon-phone-call  {
						font-size: 15px;
					}
				}
			}
		}
	}
	.video-slider{
		iframe{
			height: 170px;
		}
	}
	.clients-slider{
		.slick-prev
		{
		    left: 10px;
		}
		[dir='rtl'] .slick-prev
		{
		    right: 10px;
		    left: auto;
		}
		.slick-next
		{
		    right: 10px;
		}
		[dir='rtl'] .slick-next
		{
		    right: auto;
		    left: 10px;
		}
	}
}